.editor-styles-wrapper .tw-heading-border-bottom,
.editor-styles-wrapper .tw-heading-dash-bottom {
  padding-bottom: 20px;
}
.editor-styles-wrapper .tw-heading-border-bottom::after,
.editor-styles-wrapper .tw-heading-dash-bottom::after {
  height: auto;
  background-color: transparent;
  opacity: 1;
  margin: 0 !important;
  width: auto;
}
.tw-heading-border-bottom::before,
.tw-heading-dash-bottom::before {
  content: "";
  height: 1px;
  background-color: currentColor;
  opacity: 0.15;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.tw-heading-dash-bottom::before {
  width: 40px;
  height: 2px;
  opacity: 1;
}
.tw-heading-dash-bottom.has-text-align-left::before {
  left: 0;
  right: auto;
}
.tw-heading-dash-bottom.has-text-align-center::before {
  left: 50%;
  margin-left: -20px;
}
.tw-heading-dash-bottom.has-text-align-right::before {
  left: auto;
  right: 0;
}
.editor-styles-wrapper hr.wp-block-separator.is-style-tw-short {
  height: 3px !important;
  background-color: currentColor !important;
  margin-left: auto;
  margin-right: auto;
}
.wp-block-separator.is-style-tw-short::after,
.wp-block-separator.is-style-tw-short::before {
  display: none !important;
}
.editor-styles-wrapper ol[class*="is-style-tw"],
.editor-styles-wrapper ul[class*="is-style-tw"] {
  list-style: none !important;
  padding-left: 0 !important;
}
.editor-styles-wrapper ol.is-style-tw-border,
.editor-styles-wrapper ol.is-style-tw-border-inner,
.editor-styles-wrapper ol.is-style-tw-table {
  list-style-position: inside !important;
  list-style-type: decimal !important;
}
.editor-styles-wrapper
  .wp-block[data-type="core/list"].is-style-tw-inline:focus-within,
.editor-styles-wrapper
  .wp-block[data-type="core/list"].is-style-tw-no-bullet:focus-within,
.editor-styles-wrapper
  .wp-block[data-type="core/list"]:focus-within
  ul.is-style-tw-inline,
.editor-styles-wrapper
  .wp-block[data-type="core/list"]:focus-within
  ul.is-style-tw-no-bullet {
  list-style: disc !important;
}
.editor-styles-wrapper
  .wp-block[data-type="core/list"].is-style-tw-inline:focus-within
  li,
.editor-styles-wrapper
  .wp-block[data-type="core/list"]:focus-within
  ul.is-style-tw-inline
  li {
  display: list-item;
}
.editor-styles-wrapper
  .tw-list-spacing-medium.is-style-tw-inline
  li:first-child,
.editor-styles-wrapper .tw-list-spacing-medium li {
  margin-top: 0.5em;
}
.editor-styles-wrapper .tw-list-spacing-loose.is-style-tw-inline li:first-child,
.editor-styles-wrapper .tw-list-spacing-loose li {
  margin-top: 1em;
}
.editor-styles-wrapper .tw-list-spacing-loose > li:first-child,
.editor-styles-wrapper .tw-list-spacing-medium > li:first-child {
  margin-top: 0;
}
.editor-styles-wrapper .wp-block.tw-eyebrow,
.editor-styles-wrapper .wp-block .tw-eyebrow {
  font-size: 14px !important;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  margin-bottom: 0;
  padding-top: 7px;
}
.wp-block.tw-text-wide,
.wp-block[data-text-width="wide"] {
  max-width: 1200px;
}
.wp-block.tw-text-wide.has-text-align-center,
.wp-block[data-text-width="wide"].has-text-align-center,
.wp-block[data-text-width="wide"] .has-text-align-center {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.editor-styles-wrapper .is-style-tw-frame figcaption {
  margin-bottom: 0;
  text-align: center;
  padding: 5px 0 10px;
  color: #666;
}
.wp-block[data-type="core/embed"].is-style-tw-frame {
  padding: 0;
  box-shadow: none;
}
.tw-link-hover-underline a {
  text-decoration: none !important;
}
.tw-link-hover-underline a:focus,
.tw-link-hover-underline a:hover {
  text-decoration: underline !important;
}
.editor-styles-wrapper .wp-block[data-type="core/columns"].tw-cols-card-shadow,
.editor-styles-wrapper .wp-block[data-type="core/columns"].tw-cols-card-white {
  color: #000;
}
.editor-styles-wrapper
  .wp-block[data-type="core/columns"].tw-cols-card-shadow
  .block-editor-block-list__block,
.editor-styles-wrapper
  .wp-block[data-type="core/columns"].tw-cols-card-white
  .block-editor-block-list__block {
  color: inherit;
}
.editor-styles-wrapper .has-text-color .wp-block-pullquote__citation,
.editor-styles-wrapper .has-text-color .wp-block-quote__citation {
  color: currentColor;
}
.editor-styles-wrapper .wp-block-heading .has-text-color a,
.editor-styles-wrapper .wp-block-paragraph.has-text-color a {
  color: inherit;
}
.editor-styles-wrapper .tw-lg-hidden,
.editor-styles-wrapper .tw-md-hidden,
.editor-styles-wrapper .tw-sm-hidden {
  display: block !important;
}
.block-editor-block-styles__item-preview [class*="tw-mt-"] {
  margin-top: 0 !important;
}
.block-editor-block-styles__item-preview .wp-block-media-text {
  margin: 0 20px;
}
.block-editor-block-styles__item-preview
  .wp-block-media-text.is-style-tw-overlap
  .block-editor-inner-blocks {
  padding: 0 8% !important;
}
[data-type="core/group"]
  .wp-block-group__inner-container
  > .block-list-appender {
  margin-left: auto;
  margin-right: auto;
}
[data-align="full"] > .wp-block-group.tw-border {
  border: 0;
  border-top: 1px solid var(--tw-block-border-color);
}
.tw-shape-background-checker {
  margin: 0 0 24px;
}
.tw-shape-background-checker .components-notice__content {
  margin-right: 20px;
}
.wp-block-group.tw-pt-0 {
  padding-top: 0.01em !important;
}
.wp-block-group.tw-pb-0 {
  padding-bottom: 0.01em !important;
}
.wp-block-group.tw-group-overlap-bottom:not(.is-selected):not(.has-child-selected)
  > .wp-block-group__inner-container
  > div:last-child,
.wp-block-group.tw-group-overlap-bottom:not(.is-selected):not(.has-child-selected)
  > .wp-block-group__inner-container
  > figure:last-child {
  margin-bottom: -60px;
  z-index: 2;
  position: relative;
}
.wp-block-group.tw-group-overlap-bottom .wp-block-group__inner-container {
  background-color: transparent !important;
}
.wp-block-group[class*="tw-editor-bottom-shape"]
  .wp-block-group__inner-container {
  position: static;
  background-color: inherit;
}
.block-editor-block-list__layout
  .wp-block-group[class*="tw-editor-bottom-shape"]:focus:after {
  z-index: 3;
}
.wp-block-group[class*="tw-editor-bottom-shape"]
  .wp-block-group__inner-container::after {
  content: "";
  position: absolute;
  background-color: inherit;
  height: 20px;
  left: 0;
  bottom: var(--group-shape-y, -14px);
  -webkit-mask-image: var(--group-shape);
  mask-image: var(--group-shape);
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
  -webkit-mask-position: center;
  mask-position: center;
  width: 100%;
  z-index: 2;
  pointer-events: auto;
}
.tw-editor-bottom-shape-organic .wp-block-group__inner-container::after {
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 768 20"><path d="M768 0H0v12c25.5-.6 50 .6 75.5 1.4 19.2.7 25.4 2.2 37.5 3.5 12.7 1.4 25.4 2.2 38.1 2.8 12.3.7 24.6 0 37 0s25-1 37.4-1.4c24.9-.6 49.8-1.8 74.5-4.9 24.8-3 59-6.6 84-6.6 12.6 0 17.4 0 30 .9 12.8 1 24.5 1 37.3 2 11 1 13.6 1.1 19.4 1.5 6 .3 10.1.3 16.2.7 12.6 1 25.2.9 37.9 1.4 25 1 37.3-1.3 62.4.9 14 1.2 45.7 4.3 59.8 4.4 13.2 0 24.4-1 37.6-1 14.6-.3 26.4-.4 41-2.2 14.1-1.7 28.1-3 42.4-3.4z"/></svg>');
}
.tw-editor-bottom-shape-grunge .wp-block-group__inner-container::after {
  --group-shape-y: -4px;
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 20"><path d="M160 0H0v17.8a15.3 15.3 0 0 1 5 2s9.1-1 11.8-.8c3.5.2 11.1-1.1 11.1-1.1s3.9.7 4.2.6c6.2-1.6 19.1 1.2 19.1 1.2l3.8-1.6c8 .8 9.5-1.3 21 .8 2.3-.6 8.2-2.1 11-2.3 2 0 3.5 1.4 5.4 1.8 1.6.3 4.1-.7 5.7-.5 3.5.4 8.1 1.2 12 0a18.6 18.6 0 0 1 10.5-.3 24.9 24.9 0 0 0 9.3 0l7.6 2.4s6.6-2 10-1.5c7.7 1 8.2.5 10.6-.6 1.5.4 1.2 0 1.9-.1z"/></svg>');
}
.tw-editor-bottom-shape-wave .wp-block-group__inner-container::after {
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102 20"><path d="M102 20c-13.7 0-20.6-3.8-27.3-7.5C68.6 9.2 62.8 6 51 6s-17.6 3.2-23.7 6.5C20.6 16.2 13.7 20 0 20V0h102z"/></svg>');
}
.tw-editor-bottom-shape-triangle .wp-block-group__inner-container::after {
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 20"><path d="M48 6 24 20 0 6V0h48v6z"/></svg>');
}
.tw-editor-bottom-shape-arc .wp-block-group__inner-container::after {
  --group-shape-y: -10px;
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 20"><circle cx="24" cy="-14" r="34"/></svg>');
}
.tw-editor-bottom-shape-rectangle .wp-block-group__inner-container::after {
  --group-shape-y: -6px;
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 20"><path d="M0 0v14h8v6h16v-6h8V0H0z"/></svg>');
}
.tw-editor-bottom-shape-ornament .wp-block-group__inner-container::after {
  --group-shape-y: -7px;
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 20"><path d="M160 20c-4.2-4.5-13.6-7-19.3-7-14.7 0-28.3 7-41.5 7-7.6 0-14.6-2-19.2-7-4.6 5-11.6 7-19.2 7-13.2 0-26.8-7-41.5-7-5.7 0-15.1 2.5-19.3 7V0h160v20z"/></svg>');
}
.tw-editor-bottom-shape-halftone .wp-block-group__inner-container::after {
  --group-shape-y: -19px;
  --group-shape: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5 20"><circle cx="2.5" cy="4.5" r="2.5"/><circle cx="2.5" cy="-.19" r="2.81"/><circle cx="2.5" cy="14.38" r="1.38"/><circle cx="2.5" cy="19.25" r=".75"/><circle cx="2.5" cy="9.5" r="2"/></svg>');
}
.wp-block-cover.tw-hover-show-text .wp-block-cover__inner-container {
  opacity: 1 !important;
}
.wp-block-cover
  .wp-block-cover__inner-container
  .wp-block-quote
  .wp-block-quote__citation,
.wp-block-cover .wp-block-pullquote__citation {
  color: inherit;
}
.has-text-align-center .wp-block-cover__inner-container,
.has-text-align-left .wp-block-cover__inner-container,
.has-text-align-right .wp-block-cover__inner-container {
  text-align: inherit;
}
.wp-block-columns.tw-cols-card.tw-stretched-media
  > .wp-block-column
  > [data-type="core-embed/vimeo"]:first-child,
.wp-block-columns.tw-cols-card.tw-stretched-media
  > .wp-block-column
  > [data-type="core-embed/youtube"]:first-child {
  margin: -30px -24px 30px !important;
  max-width: none;
  width: auto;
}
.wp-block-columns.tw-cols-card.tw-stretched-media
  > .wp-block-column
  > div:first-child
  .wp-block-embed {
  margin: 0;
}
.wp-block-columns .wp-block-video video {
  width: 100%;
}
.tw-editor-stretched-link h1 a,
.tw-editor-stretched-link h2 a,
.tw-editor-stretched-link h3 a,
.tw-editor-stretched-link h4 a,
.tw-editor-stretched-link h5 a,
.tw-editor-stretched-link h6 a {
  color: inherit !important;
}
.tw-stretched-blocks > .wp-block-column > style + * {
  height: 100%;
}
.editor-styles-wrapper .wp-block-media-text.is-style-tw-overlap {
  visibility: visible;
  background: transparent !important;
}
.editor-styles-wrapper
  .wp-block-media-text.is-style-tw-overlap
  .wp-block-media-text__content,
.editor-styles-wrapper
  .wp-block-media-text.is-style-tw-overlap
  > .block-editor-inner-blocks {
  background: var(--backgroundColor);
}
.editor-styles-wrapper
  .wp-block-media-text.is-style-tw-overlap
  .components-resizable-box__handle {
  z-index: 10;
}
.block-editor-block-styles__item-preview
  .wp-block-media-text.is-style-tw-overlap:not(.has-background)
  .wp-block-media-text__content {
  background: #fff;
  padding: 10px 40px;
}
.block-editor-block-styles__item-preview .wp-block-media-text.tw-height-full {
  min-height: auto;
}
.tw-fixed-cols .wp-block-gallery .blocks-gallery-item {
  flex-grow: 0;
}
div[data-type="core/gallery"][class*="tw-img-ratio"]
  .wp-block-gallery
  .blocks-gallery-item
  figure {
  position: relative;
  width: 100%;
}
div[data-type="core/gallery"][class*="tw-img-ratio"]
  .wp-block-gallery
  .blocks-gallery-item
  img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
div[data-type="core/gallery"][class*="tw-img-ratio"]
  .wp-block-gallery
  figure::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: var(--block-img-ratio, 66.66667%);
}
.wp-block-gallery.tw-gutter-large .blocks-gallery-item,
.wp-block-gallery.tw-gutter-medium .blocks-gallery-item {
  box-sizing: border-box;
}
div[data-type="core/gallery"].tw-gutter-no
  .wp-block-gallery.columns-1
  .blocks-gallery-item,
div[data-type="core/gallery"][class*="tw-img-ratio"]
  .columns-1
  .blocks-gallery-item {
  width: 100% !important;
}
div[data-type="core/gallery"].tw-gutter-no
  .wp-block-gallery
  .blocks-gallery-item {
  width: 50%;
  margin: 0 !important;
}
div[data-type="core/gallery"].tw-gutter-large
  .wp-block-gallery
  .blocks-gallery-item.has-add-item-button,
div[data-type="core/gallery"].tw-gutter-medium
  .wp-block-gallery
  .blocks-gallery-item.has-add-item-button,
div[data-type="core/gallery"].tw-gutter-no
  .wp-block-gallery
  .blocks-gallery-item.has-add-item-button {
  width: 100%;
}
div[data-type="core/gallery"].tw-gutter-no
  .wp-block-gallery
  .blocks-gallery-item
  .is-selected {
  z-index: 2;
  position: relative;
}
.editor-styles-wrapper .wp-block-gallery.is-style-tw-img-frame figcaption {
  width: calc(100% - 24px);
}
@media (min-width: 600px) {
  div[data-type="core/gallery"].tw-gutter-no
    .wp-block-gallery.columns-3
    .blocks-gallery-item {
    width: 33.33333%;
  }
  div[data-type="core/gallery"].tw-gutter-no
    .wp-block-gallery.columns-4
    .blocks-gallery-item {
    width: 25%;
  }
  div[data-type="core/gallery"].tw-gutter-no
    .wp-block-gallery.columns-5
    .blocks-gallery-item {
    width: 20%;
  }
  div[data-type="core/gallery"].tw-gutter-no
    .wp-block-gallery.columns-6
    .blocks-gallery-item {
    width: 16.66667%;
  }
  div[data-type="core/gallery"].tw-gutter-no
    .wp-block-gallery.columns-7
    .blocks-gallery-item {
    width: 14.28571%;
  }
  div[data-type="core/gallery"].tw-gutter-no
    .wp-block-gallery.columns-8
    .blocks-gallery-item {
    width: 12.5%;
  }
}
@media (min-width: 1024px) {
  div[data-type="core/gallery"].tw-gutter-medium:not(.is-selected)
    .blocks-gallery-grid {
    margin-bottom: -32px;
  }
  div[data-type="core/gallery"].tw-gutter-medium .blocks-gallery-item {
    margin: 0 32px 32px 0;
  }
  div[data-type="core/gallery"].tw-gutter-medium
    .columns-2
    .blocks-gallery-item {
    width: calc(50% - 16px);
  }
  div[data-type="core/gallery"].tw-gutter-medium
    .columns-3
    .blocks-gallery-item {
    width: calc(33.33333% - 21.33333px);
  }
  div[data-type="core/gallery"].tw-gutter-medium
    .columns-4
    .blocks-gallery-item {
    width: calc(25% - 24px);
  }
  div[data-type="core/gallery"].tw-gutter-medium
    .columns-5
    .blocks-gallery-item {
    width: calc(20% - 25.6px);
  }
  div[data-type="core/gallery"].tw-gutter-medium
    .columns-6
    .blocks-gallery-item {
    width: calc(16.66667% - 26.66667px);
  }
  div[data-type="core/gallery"].tw-gutter-medium
    .columns-7
    .blocks-gallery-item {
    width: calc(14.28571% - 27.42857px);
  }
  div[data-type="core/gallery"].tw-gutter-medium
    .columns-8
    .blocks-gallery-item {
    width: calc(12.5% - 28px);
  }
  div[data-type="core/gallery"].tw-gutter-medium
    .blocks-gallery-item:last-child,
  div[data-type="core/gallery"].tw-gutter-medium
    .columns-1
    .blocks-gallery-item:nth-of-type(1n),
  div[data-type="core/gallery"].tw-gutter-medium
    .columns-2
    .blocks-gallery-item:nth-of-type(2n),
  div[data-type="core/gallery"].tw-gutter-medium
    .columns-3
    .blocks-gallery-item:nth-of-type(3n),
  div[data-type="core/gallery"].tw-gutter-medium
    .columns-4
    .blocks-gallery-item:nth-of-type(4n),
  div[data-type="core/gallery"].tw-gutter-medium
    .columns-5
    .blocks-gallery-item:nth-of-type(5n),
  div[data-type="core/gallery"].tw-gutter-medium
    .columns-6
    .blocks-gallery-item:nth-of-type(6n),
  div[data-type="core/gallery"].tw-gutter-medium
    .columns-7
    .blocks-gallery-item:nth-of-type(7n),
  div[data-type="core/gallery"].tw-gutter-medium
    .columns-8
    .blocks-gallery-item:nth-of-type(8n) {
    margin-right: 0;
  }
}
@media (min-width: 1220px) {
  div[data-type="core/gallery"].tw-gutter-large:not(.is-selected)
    .blocks-gallery-grid {
    margin-bottom: -64px;
  }
  div[data-type="core/gallery"].tw-gutter-large .blocks-gallery-item {
    margin: 0 64px 64px 0;
  }
  div[data-type="core/gallery"].tw-gutter-large
    .columns-2
    .blocks-gallery-item {
    width: calc(50% - 32px);
  }
  div[data-type="core/gallery"].tw-gutter-large
    .columns-3
    .blocks-gallery-item {
    width: calc(33.33333% - 42.66667px);
  }
  div[data-type="core/gallery"].tw-gutter-large
    .columns-4
    .blocks-gallery-item {
    width: calc(25% - 48px);
  }
  div[data-type="core/gallery"].tw-gutter-large
    .columns-5
    .blocks-gallery-item {
    width: calc(20% - 51.2px);
  }
  div[data-type="core/gallery"].tw-gutter-large
    .columns-6
    .blocks-gallery-item {
    width: calc(16.66667% - 53.33333px);
  }
  div[data-type="core/gallery"].tw-gutter-large
    .columns-7
    .blocks-gallery-item {
    width: calc(14.28571% - 54.85714px);
  }
  div[data-type="core/gallery"].tw-gutter-large
    .columns-8
    .blocks-gallery-item {
    width: calc(12.5% - 56px);
  }
  div[data-type="core/gallery"].tw-gutter-large .blocks-gallery-item:last-child,
  div[data-type="core/gallery"].tw-gutter-large
    .columns-1
    .blocks-gallery-item:nth-of-type(1n),
  div[data-type="core/gallery"].tw-gutter-large
    .columns-2
    .blocks-gallery-item:nth-of-type(2n),
  div[data-type="core/gallery"].tw-gutter-large
    .columns-3
    .blocks-gallery-item:nth-of-type(3n),
  div[data-type="core/gallery"].tw-gutter-large
    .columns-4
    .blocks-gallery-item:nth-of-type(4n),
  div[data-type="core/gallery"].tw-gutter-large
    .columns-5
    .blocks-gallery-item:nth-of-type(5n),
  div[data-type="core/gallery"].tw-gutter-large
    .columns-6
    .blocks-gallery-item:nth-of-type(6n),
  div[data-type="core/gallery"].tw-gutter-large
    .columns-7
    .blocks-gallery-item:nth-of-type(7n),
  div[data-type="core/gallery"].tw-gutter-large
    .columns-8
    .blocks-gallery-item:nth-of-type(8n) {
    margin-right: 0;
  }
}
.wp-block-latest-posts:not(.is-selected) li a {
  pointer-events: none;
}
.wp-block-latest-posts.tw-stretched-link > li > a::after {
  content: none !important;
}
.editor-styles-wrapper
  ul.wp-block-latest-posts.is-style-tw-posts-card.is-grid
  li,
.editor-styles-wrapper ul.wp-block-latest-posts.is-style-tw-posts-card li {
  padding-top: 30px;
}
.wp-block-latest-posts.tw-hide-more-link
  .wp-block-latest-posts__post-excerpt
  a {
  display: none;
}
.editor-styles-wrapper .wp-block-latest-posts__featured-image.alignleft {
  margin: 0 20px 0 0;
}
.editor-styles-wrapper .wp-block-latest-posts__featured-image.alignright {
  margin: 0 0 0 20px;
}
.wp-block-latest-posts.is-grid li {
  box-sizing: border-box;
}
.wp-block-social-links.tw-size-small .wp-social-link button {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.wp-block-social-links.tw-size-large .wp-social-link button {
  width: 48px;
  height: 48px;
  padding: 8px;
  box-sizing: border-box;
}
.wp-block-social-links.is-style-pill-shape.tw-size-small
  .wp-social-link
  button {
  width: auto;
}
.wp-block-social-links.is-style-pill-shape.tw-size-large
  .wp-social-link
  button {
  width: auto;
  padding: 0 20px;
}
.twentig-margin-controls {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
}
.twentig-margin-control .components-input-control__label {
  padding-bottom: 8px !important;
}
.twentig-additional-class-name-dropdown__button {
  position: absolute;
  right: 16px;
  height: auto;
  min-width: auto;
  margin-top: -3px;
}
.twentig-additional-class-name-dropdown__button .components-button.has-icon {
  height: 24px;
  width: 24px;
  min-width: 24px;
  padding: 0;
}
.twentig-additional-class-name-dropdown__menu .components-popover__content {
  min-width: 300px;
}
.twentig-additional-class-name-dropdown__option.components-menu-item__button {
  padding-top: 8px;
  padding-bottom: 8px;
}
.twentig-additional-class-name-dropdown__option.components-menu-item__button.components-button[role="menuitemcheckbox"]
  .components-menu-item__item:only-child {
  padding-right: 32px;
}
.twentig-additional-class-name-dropdown__option.components-menu-item__button
  .components-menu-items__item-icon,
.twentig-additional-class-name-dropdown__option.components-menu-item__button
  .components-menu-items__item-icon.has-icon-right {
  margin-left: 8px;
}
.edit-post-sidebar .page-layouts-category-dropdown {
  display: inline-flex;
  padding: 16px 16px 0;
}
.tw-components-tip {
  display: flex;
  color: #757575;
  padding: 16px;
  border-top: 1px solid #ddd;
}
.tw-components-tip p {
  margin: 0;
}
.tw-components-tip svg {
  align-self: flex-start;
  fill: #757575;
  flex-shrink: 0;
  margin-right: 16px;
}
.tw-patterns-tip svg {
  fill: #f0b849;
}
.tw-notice__content {
  padding: 20px 16px 28px;
}
.tw-notice__content a.components-button.tw-button-subscribe {
  margin-top: 12px;
  font-size: 12px;
  height: 32px;
}
.block-editor-tw-patterns {
  padding: 20px 16px 28px;
  min-height: calc(100vh - 120px);
}
.block-editor-tw-patterns .block-editor-block-patterns-list__item {
  border: 1px solid #e2e4e7;
  margin-top: 28px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.block-editor-tw-patterns .block-editor-block-patterns-list__item:hover {
  border: 1px solid #007cba;
}
.block-editor-tw-patterns .block-editor-block-patterns-list__item:focus {
  box-shadow: inset 0 0 0 1px #fff, 0 0 0 1.5px #007cba;
  outline: 2px solid transparent;
}
.block-editor-tw-patterns .block-editor-block-patterns-list__item:first-child {
  margin-top: 0;
}
.block-editor-tw-patterns .block-editor-block-preview__container {
  cursor: pointer;
}
.block-editor-tw-patterns .block-editor-block-patterns-list__item-title {
  padding: 10px 8px;
  border-top: 1px solid #e2e4e7;
}
.block-editor-block-patterns-list__item .tw-lg-hidden {
  display: none !important;
}
.block-editor-block-patterns-list__item .wp-block-buttons .block-list-appender,
.block-editor-block-patterns-list__item
  .wp-block-social-links
  .block-list-appender,
.block-editor-block-patterns-list__item .wp-block-table figcaption {
  display: none;
}
.block-editor-block-patterns-list__item
  .wp-block-table.is-style-tw-border-h-inner
  tr,
.block-editor-block-patterns-list__item .wp-block-table.is-style-tw-border-h tr,
.block-editor-block-patterns-list__item ol.is-style-tw-border,
.block-editor-block-patterns-list__item ol.is-style-tw-border-inner,
.block-editor-block-patterns-list__item ol.is-style-tw-table,
.block-editor-block-patterns-list__item ol.is-style-tw-table > li,
.block-editor-block-patterns-list__item ul.is-style-tw-border,
.block-editor-block-patterns-list__item ul.is-style-tw-border-inner,
.block-editor-block-patterns-list__item ul.is-style-tw-table,
.block-editor-block-patterns-list__item ul.is-style-tw-table > li {
  border-color: currentColor;
}
.block-editor-block-patterns-list__item .wp-block-gallery.tw-img-border img,
.block-editor-block-patterns-list__item .wp-block-image.is-style-tw-border img,
.block-editor-block-patterns-list__item
  .wp-block[data-type="core/group"].tw-border,
.block-editor-block-patterns-list__item
  div[data-type="core/columns"].tw-cols-card-border
  .wp-block-column {
  border: 1px solid rgba(119, 119, 119, 0.5);
}
.block-editor-block-patterns-list__item
  .wp-block-cover
  div[data-type="core/columns"].tw-cols-card-border
  .wp-block-column {
  border: 1px solid rgba(255, 255, 255, 0.54);
}
.block-editor-block-patterns-list__item
  .wp-block-gallery.tw-img-border-inner
  img {
  border-top: 1px solid rgba(119, 119, 119, 0.5);
  border-left: 1px solid rgba(119, 119, 119, 0.5);
}
.block-editor-block-patterns-list__item
  .wp-block-latest-posts.is-style-tw-posts-border:not(.is-grid)
  li:not(:first-child) {
  border-top: 1px solid;
}
.block-editor-block-patterns-list__item
  hr.wp-block-separator:not(.is-style-dots) {
  height: 2px;
  opacity: 1 !important;
}
.block-editor-block-patterns-list__item .tw-heading-border-bottom::before,
.block-editor-block-patterns-list__item
  .wp-block-social-links
  .wp-social-link
  button,
.block-editor-block-patterns-list__item
  hr:not(.has-background):not(.is-style-dots) {
  opacity: 1;
}
.block-editor-block-patterns-list__item .is-style-tw-frame,
.block-editor-block-patterns-list__item
  .wp-block-latest-posts.is-style-tw-posts-card
  > li,
.block-editor-block-patterns-list__item
  div[data-type="core/columns"].tw-cols-card-shadow
  .wp-block-column {
  box-shadow: 0 8px 18px 0 rgba(0, 0, 0, 0.2);
}
.block-editor-block-patterns-list__item .wp-block-table {
  overflow: hidden;
}
.block-editor-block-patterns-list__item
  .wp-block-image
  .components-resizable-box__container {
  vertical-align: bottom;
}
.block-editor-block-patterns-list__item .wp-block .tw-eyebrow {
  font-size: 16px !important;
}
.block-editor-block-patterns-list__item
  .wp-block-gallery.tw-img-border-inner
  .blocks-gallery-grid {
  margin: -3px 0 0 -3px;
}
.block-editor-block-patterns-list__item
  .has-text-align-center
  .wp-block-buttons
  .wp-block-button {
  margin-right: 4px;
  margin-left: 4px;
}
.block-editor-block-patterns-list__item .wp-block-button__link {
  white-space: normal !important;
}
.block-editor-block-patterns-list__item
  .block-editor-block-list__layout
  .block-editor-block-list__block::after {
  opacity: 0;
}
.components-dropdown-menu__menu
  .components-menu-item__button.tw-plugin-guide-menu-item {
  padding-left: 8px;
  padding-right: 8px;
}
.tw-welcome-guide {
  pointer-events: none;
  background-color: transparent;
  bottom: 40px;
  left: 16px;
  right: auto;
  top: auto;
  z-index: 99980;
}
.tw-welcome-guide .components-modal__frame.components-guide {
  border: none;
  min-width: 300px;
  height: 80vh;
  max-height: 540px;
  pointer-events: auto;
  width: 400px;
  max-width: 90vw;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  transform: none;
}
.tw-welcome-guide .components-modal__header {
  display: none;
}
.tw-welcome-guide .components-guide__container {
  margin-top: 0;
}
.tw-welcome-guide .tw-welcome-guide__content {
  padding: 20px;
}
.tw-welcome-guide
  .tw-welcome-guide__content
  .components-button
  + .components-button {
  margin-left: 12px;
}
.tw-welcome-guide .tw-welcome-guide__image {
  margin: 0 0 16px;
  background: radial-gradient(#fff, #def);
}
.tw-welcome-guide .tw-welcome-guide__image img {
  width: 100%;
  height: auto;
  display: block;
}
.tw-welcome-guide .tw-welcome-guide__heading {
  font-size: 18px;
  line-height: 1.2;
  margin: 0 0 10px;
}
.tw-welcome-guide .tw-welcome-guide__text {
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 10px;
}
.tw-welcome-guide .tw-welcome-guide__text ~ .components-button {
  margin-top: 6px;
}
.tw-welcome-guide .tw-welcome-guide__text img {
  position: relative;
  vertical-align: middle;
  top: -1px;
}
.tw-welcome-guide .tw-welcome-guide__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
}
.tw-welcome-guide .tw-welcome-guide__list li {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 0 8px;
  margin: 2px 4px 2px 0;
  border-radius: 2px;
  line-height: 1.8;
}
.tw-welcome-guide .components-guide__page-control {
  text-align: left;
  padding-left: 16px;
  margin: 0;
}
.tw-welcome-guide .components-guide__page-control li {
  margin: 0;
}
.tw-welcome-guide .components-guide__page-control .components-button {
  min-width: 18px;
  padding: 5px;
}
.tw-welcome-guide .components-guide__footer {
  padding: 0 20px;
  margin-bottom: 16px;
}
.tw-welcome-guide .components-guide__skip-button {
  left: 20px;
  height: 30px;
  position: absolute;
  font-size: 13px;
  padding: 4px 2px;
}
.tw-welcome-guide .components-guide__back-button {
  left: 20px;
}
.tw-welcome-guide .components-guide__finish-button,
.tw-welcome-guide .components-guide__forward-button {
  right: 20px;
}
.tw-welcome-guide .components-guide__finish-button {
  color: #1386bf;
  font-weight: 700;
}
.tw-welcome-guide .components-guide__start-button {
  height: 30px;
  position: absolute;
  font-size: 13px;
  right: 20px;
}
.tw-guide-controls {
  position: absolute;
  width: 100%;
  top: 0;
}
.tw-guide-controls .components-button {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 1000;
  position: absolute;
  min-width: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  top: 8px;
  right: 8px;
  opacity: 1;
  transition: opacity 0.2s;
}
.tw-guide-controls .components-button:hover {
  background: var(--wp-admin-theme-color-darker-10);
}
.tw-guide-controls .components-button:hover svg {
  fill: #fff;
}
.tw-guide-controls .components-button.tw__minimize-icon {
  right: auto;
  left: 8px;
}
@media (hover: hover) {
  .tw-guide-controls .components-button {
    opacity: 0;
  }
  .tw-welcome-guide
    .components-modal__content:is(:hover, :focus-within)
    .tw-guide-controls
    .components-button {
    opacity: 1;
  }
}
.tw-welcome-guide.is-minimized .components-guide__container {
  display: none;
}
.tw-welcome-guide.is-minimized .components-guide {
  height: 50px;
  width: 90px;
  min-width: auto;
  visibility: hidden;
}
.tw-welcome-guide.is-minimized .tw__minimize-icon {
  visibility: visible;
  opacity: 1;
  min-width: 32px;
  width: 32px;
  height: 32px;
}
.wp-customizer .tw-welcome-guide {
  left: 320px;
  top: 140px;
  bottom: auto;
  z-index: 510000;
  transition-property: left;
  transition-duration: 0.2s;
}
.wp-customizer.adding-menu-items .tw-welcome-guide,
.wp-customizer.adding-widget .tw-welcome-guide,
.wp-customizer.outer-section-open .tw-welcome-guide {
  left: 620px;
}
.wp-customizer .wp-full-overlay.collapsed ~ div .tw-welcome-guide {
  left: 46px;
}
.wp-customizer.customize-loading {
  opacity: 0;
}
@media screen and (max-width: 725px) {
  .wp-customizer .tw-welcome-guide {
    left: 16px !important;
    top: auto;
    bottom: 16px;
  }
}
@media screen and (min-width: 1667px) {
  .wp-customizer .tw-welcome-guide {
    left: calc(18% + 20px);
  }
  .wp-customizer.adding-menu-items .tw-welcome-guide,
  .wp-customizer.adding-widget .tw-welcome-guide,
  .wp-customizer.outer-section-open .tw-welcome-guide {
    left: calc(18% + 320px);
  }
}
.wp-customizer .tw-welcome-guide .components-guide__footer {
  box-sizing: border-box;
}
