.kmt-is-sticky {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.kmt-overlay-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.wp-block-buttons .wp-block-button .wp-block-button__link:hover {
  opacity: 0.9;
}
.wp-block-button.is-style-fill .wp-block-button__link:focus,
.wp-block-button.is-style-fill .wp-block-button__link:hover {
  opacity: 0.9;
}
.wp-block-button.is-style-outline .wp-block-button__link:focus,
.wp-block-button.is-style-outline .wp-block-button__link:hover {
  background-color: var(--wp--preset--color--primary);
  border-color: var(--wp--preset--color--primary);
}
.wp-block-post a:hover,
a:hover:not(.wp-block-button__link),
.wp-block-navigation .wp-block-navigation-item__content:hover {
  color: var(--wp--preset--color--primary);
}

.wp-block-search__input {
  background: transparent;
}
input[type="button"],
input[type="submit"],
.wp-block-button__link,
.wp-block-post-comments input[type="submit"],
.wp-block-search__button {
  cursor: pointer;
  font-family: var(--wp--preset--font-family--system-font);
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--preset--font-size--normal);
  line-height: 1.6;
  padding: 10px 25px;
  text-decoration: none;
  white-space: normal;
  width: auto;
}

/**
 * Sticky footer
 */
.kmt-sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.sticky-footer .kmt-content {
  position: relative;
  z-index: 1;
  background-color: var(--wp--preset--color--background);
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
  border-color: #ddd !important;
}
@media (max-width: 600px) {
  .hide-on-mobile {
    display: none !important;
  }
}

.kemet-right-left-loop > ul > li:nth-child(even) > div {
  flex-direction: row-reverse;
}

/* Remove deault padding for group has background color */
.wp-block-group:where(.has-background) {
  padding-right: 0;
  padding-left: 0;
}

/* Social Libks Vlock */
.wp-block-social-links.is-style-logos-only > .wp-social-link {
  color: currentColor;
}

.wp-site-blocks > .wp-block-group,
.wp-block-group.has-background,
.wp-block-group:where(.has-background) {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

/* WooCommerce */
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
  color: var(--wp--preset--color--foreground);
}
.woocommerce .woocommerce-breadcrumb {
  margin-bottom: 1.8em;
}

.woocommerce div.product form.cart table {
  border-spacing: 0px 1em;
  margin-bottom: 1.5em;
}

.woocommerce span.onsale {
  background-color: var(--wp--preset--color--tertiary);
}

.woocommerce-product-details__short-description {
  margin-bottom: 2em;
}
.woocommerce .quantity .qty {
  height: 42px;
  border-radius: 0px;
  border: 1px solid var(--wp--preset--color--foreground);
}

.woocommerce div.product form.cart div.quantity {
  margin-right: 10px;
}

.woocommerce ul.products li.product .button,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt,
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link,
.button {
  border-radius: 0px;
  background-color: var(--wp--preset--color--tertiary);
  color: var(--wp--preset--color--secondary);
  font-family: var(--wp--preset--font-family--system-font);
  font-size: var(--wp--preset--font-size--small);
  font-weight: var(--wp--preset--font-size--normal);
  line-height: 1.6;
  padding: 10px 25px;
  text-decoration: none;
  white-space: normal;
  -webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.woocommerce ul.products li.product .button:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover,
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link:hover,
.button:hover {
	background: var(--wp--preset--color--primary);
	color: var(--wp--preset--color--tertiary);
}

.woocommerce #content div.product .woocommerce-tabs, 
.woocommerce div.product .woocommerce-tabs, 
.woocommerce-page #content div.product .woocommerce-tabs, 
.woocommerce-page div.product .woocommerce-tabs {
  margin-bottom: 5em;
}

.woocommerce div.product div.images {
  margin-bottom: 3em;
}

.woocommerce div.product .product_title {
  font-size: var(--wp--preset--font-size--x-large);
}

.woocommerce div.product h2 {
  font-size: var(--wp--preset--font-size--large);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  padding: 0 1.5em;
  line-height: 38px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
  border-radius: 0px;
}

.woocommerce div.product .woocommerce-product-gallery--columns-4.images .flex-control-thumbs li {
  width: calc(25% - .75em);
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}


.woocommerce div.product .woocommerce-product-gallery--columns-4.images .flex-control-thumbs li:nth-child(5n-1) {
  margin-right: 0px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: var(--wp--preset--color--foreground);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:focus  {
  color: var(--wp--preset--color--primary);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  background-color:var(--wp--preset--color--background);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  background: var(--wp--preset--color--background);
  border-bottom-color:var(--wp--preset--color--background);
} 

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  box-shadow: 2px 2px 0 var(--wp--preset--color--background);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
  box-shadow: -2px 2px 0 var(--wp--preset--color--background);
}

/* .woocommerce div.product .woocommerce-tabs ul.tabs li {
  background-color: var(--wp--preset--color--background);
} */

.woocommerce .woocommerce-breadcrumb,
.woocommerce .woocommerce-breadcrumb a {
  color:  var(--wp--preset--color--foreground);
}

.woocommerce .woocommerce-breadcrumb a:hover,
.woocommerce .woocommerce-breadcrumb a:focus {
  color:  var(--wp--preset--color--primary);
}
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
  text-decoration: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  font-weight: 500;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3 {
 font-size: var(--wp--preset--font-size--medium);
}

.woocommerce ul.products li.product .price {
  font-size: var(--wp--preset--font-size--normal);
  color: var(--wp--preset--color--foreground);
}

.woocommerce .woocommerce-result-count {
  margin: 0px;
}

.woocommerce .woocommerce-ordering select {
  vertical-align: middle;
  padding: 10px;
  border-radius: 0px;
  border: 1px solid var(--wp--preset--color--foreground);;
  background-color: var(--wp--preset--color--background);
}

.woocommerce .woocommerce-ordering {
  margin: 0 0 2em;
}

.woocommerce ul.products li.product .price ins {
  text-decoration: none;
}

.woocommerce-products-header {
  margin-bottom: 1em;
}

.woocommerce-products-header h1{
  margin: 0px;
}

.comment-form-author {
  display: flex;
}