.kmt-is-sticky {
  position: fixed;
  width: 100%;
  z-index: 999;
}
.kmt-overlay-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.wp-block-buttons .wp-block-button .wp-block-button__link:hover {
  opacity: 0.9;
}
.wp-block-button.is-style-fill .wp-block-button__link {
	color: #ffffff;
}
.wp-block-button.is-style-fill .wp-block-button__link:focus,
.wp-block-button.is-style-fill .wp-block-button__link:hover {
	color: #ffffff;
  opacity: 0.9;
}
.wp-block-post a:hover,
a:hover,
.wp-block-navigation .wp-block-navigation-item__content:hover {
  color: var(--wp--preset--color--primary);
}
.wp-block-button__link:hover {
  background-color: var(--wp--preset--color--primary);
}
.wp-block-search__input {
  background: transparent;
}
[type="reset"], [type="submit"]{
  background-color: var(--wp--preset--color--quinary);
  color: var(--wp--preset--color--background);
}
@media (max-width: 600px) {
	.hide-on-mobile {
		display: none !important;
	}
}