<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group"><!-- wp:heading {"textAlign":"center","align":"wide"} -->
<h2 class="alignwide has-text-align-center" id="oops-this-page-can-t-be-found-1">Oops! This page can't be found.</h2>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","bottom":"80px"}}},"layout":{"inherit":false,"contentSize":"70%"}} -->
<div class="wp-block-group" style="padding-top:80px;padding-bottom:80px"><!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">The page you are looking for does not exist or may have been moved/renamed. Please try a search.</p>
<!-- /wp:paragraph -->

<!-- wp:search {"label":"","buttonText":"Search"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->