<!-- wp:template-part {"slug":"header","tagName":"header","theme":"kemet"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"bottom":"4rem","top":"4rem"}}},"layout":{"inherit":true}} -->
<main class="wp-block-group" style="padding-top:4rem;padding-bottom:4rem"><!-- wp:query-title {"type":"archive"} /-->

    <!-- wp:term-description /-->
    
    <!-- wp:query {"queryId":17,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
    <div class="wp-block-query"><!-- wp:post-template -->
    <!-- wp:post-title /-->
    
    <!-- wp:post-featured-image /-->
    
    <!-- wp:post-date /-->
    
    <!-- wp:post-excerpt /-->
    <!-- /wp:post-template -->
    
    <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
    <!-- wp:query-pagination-previous /-->
    
    <!-- wp:query-pagination-numbers /-->
    
    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination --></div>
    <!-- /wp:query --></main>
    <!-- /wp:group -->
    
    <!-- wp:template-part {"slug":"footer","tagName":"footer","theme":"kemet"} /-->